.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
  padding-left: 0;
  max-width: 1110px;
}

nav {
  display: flex;
  justify-content: space-between;
  /* background-color: aquamarine; */
  align-items: center;
  padding: 30px 10px;
}
nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
nav .btn {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
nav .btn a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  max-width: 1110px;
}
.hero img {
  max-width: 100%;
}
.hero-text {
  max-width: 582px;
}
.hero-text h2 {
  font-size: 3.25rem;
  margin-bottom: 16px;
  font-weight: bold;
}
.hero-text p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 16px;
  max-width: 505px;
}
button {
  background-color: #e02c6d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.hero-pic {
  max-width: 100%;
}
.sponsor {
  display: flex;
  flex-wrap: wrap;
  max-width: 1110px;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 70px;
  margin-bottom: 100px;
  padding: 62px 36px;
}
.collection {
  max-width: 1047px;
}
.collection h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  width: 100%;
}
.collection .box {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.collection .box .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  max-width: 330px;
  transition: transform .5s ease;
}
.collection .box .card:hover{
  transform: scale(1.1);
}
.collection .box .card img{
  max-width: 250px;
}
.collection .box .card h2 {
  margin-bottom: 0;
  text-align: left;
}
.collection .box .card p {
  max-width: 190px;
}
.feature {
  display: flex;
  gap: 96px;
  margin-top: 100px;
  max-width: 1110px;
  margin-bottom: 100px;
}
.feature-pic {
  max-width: 610px;
}
.feature-text {
  width: auto;
}

.feature-text,
.feature-img {
  flex: 1;
}

.feature-text h2 {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.feature-text p {
  font-size: 1rem;
  font-weight: bold;
  color: gray;
  margin-bottom: 16px;
}
footer {
  background-color: rgb(23, 23, 92);
  color: wheat;
  text-align: center;
  padding: 50px 0;
  width: 100%;
}
footer h2,
p {
  margin-bottom: 10px;
}

@media screen and (max-width: 567px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }
  .hero {
    flex-direction: column;
    gap: 50px;
    max-width: 100%;
    text-align: center;
  }
  .hero-text h2 {
    font-size: 1.5rem;
    margin-bottom: 16px;
    font-weight: bold;
    
  }
  .feature {
    flex-direction: column;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .feature-text h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .feature-text {
    text-align: center;
  }
  .sponsor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 20px 20px;
  }

  nav {
    width: 100%;
  }
  nav .btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .collection h2 {
    margin-bottom: 30px;
    /* text-align: center; */
    font-size: 20px;
    width: 100%;
  }
  .collection .box {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 30px;
    justify-items: center;
  }
  .hero img {
    max-width: 900%;
  }
 
  

}
